/* Rspress 自定义样式 */
:root {
  --rp-c-brand: #630ed4;
  --rp-c-brand-light: #7c24f0;
  --rp-c-brand-lighter: #924af3;
  --rp-c-brand-dark: #510bad;
  --rp-c-brand-darker: #41098c;
}

/* live code block 的编辑器区域需要高度限制，防止画布撑爆页面 */
.playgroundEditor {
  max-width: 100%;
  overflow: auto;
}
